<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/main/base}">

<head>
	<title>마이페이지</title>
	<th:block th:replace="~{admin/my/mypageSidebar :: sidebarStyles}"></th:block>
</head>

<div layout:fragment="content">
	<div class="container">
		<div th:replace="~{admin/my/mypageSidebar :: sidebarFragment}"></div>

		<div class="content">

		</div>


	</div>
	<th:block th:replace="~{admin/my/mypageSidebar :: sidebarScripts}"></th:block>
	
</div>
</html>